In [5]:
#this is the code that I want to use to create a pandas code 
#to create a csv file to have data that I want certain columns
#I will create an import function to import the function to 
#read the csv file.

import pandas as pd

In [11]:
#next I will import the csv file by using the pd.read_csv i/o function
census_df = pd.read_csv("nst-est2018-alldata.csv", usecols=['NAME', 'POPESTIMATE2018'])
census_df.head(60)

                    NAME  POPESTIMATE2018
0          United States        327167434
1       Northeast Region         56111079
2         Midwest Region         68308744
3           South Region        124753948
4            West Region         77993663
5                Alabama          4887871
6                 Alaska           737438
7                Arizona          7171646
8               Arkansas          3013825
9             California         39557045
10              Colorado          5695564
11           Connecticut          3572665
12              Delaware           967171
13  District of Columbia           702455
14               Florida         21299325
15               Georgia         10519475
16                Hawaii          1420491
17                 Idaho          1754208
18              Illinois         12741080
19               Indiana          6691878
20                  Iowa          3156145
21                Kansas          2911505
22              Kentucky          4468402
23             Louisiana          4659978
24                 Maine          1338404
25              Maryland          6042718
26         Massachusetts          6902149
27              Michigan          9995915
28             Minnesota          5611179
29           Mississippi          2986530
30              Missouri          6126452
31               Montana          1062305
32              Nebraska          1929268
33                Nevada          3034392
34         New Hampshire          1356458
35            New Jersey          8908520
36            New Mexico          2095428
37              New York         19542209
38        North Carolina         10383620
39          North Dakota           760077
40                  Ohio         11689442
41              Oklahoma          3943079
42                Oregon          4190713
43          Pennsylvania         12807060
44          Rhode Island          1057315
45        South Carolina          5084127
46          South Dakota           882235
47             Tennessee          6770010
48                 Texas         28701845
49                  Utah          3161105
50               Vermont           626299
51              Virginia          8517685
52            Washington          7535591
53         West Virginia          1805832
54             Wisconsin          5813568
55               Wyoming           577737
56           Puerto Rico          3195153

In [13]:
#The next step is to insert a new column into the data frame 
#My plan is to insert the column before the NAME column so that the abbreviation would 
#act as a index of sorts.  That is my logic.
clean_census_df = census_df.insert(0, "STATEABBREV", ['US', 'NE', 'MW', 'S', 'W','AL', 'AK','AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD','MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR'], True)

In [19]:
#This is the end result of the data frame
census_df

   STATEABBREV                  NAME  POPESTIMATE2018
0           US         United States        327167434
1           NE      Northeast Region         56111079
2           MW        Midwest Region         68308744
3            S          South Region        124753948
4            W           West Region         77993663
5           AL               Alabama          4887871
6           AK                Alaska           737438
7           AZ               Arizona          7171646
8           AR              Arkansas          3013825
9           CA            California         39557045
10          CO              Colorado          5695564
11          CT           Connecticut          3572665
12          DE              Delaware           967171
13          DC  District of Columbia           702455
14          FL               Florida         21299325
15          GA               Georgia         10519475
16          HI                Hawaii          1420491
17          ID                 Idaho          1754208
18          IL              Illinois         12741080
19          IN               Indiana          6691878
20          IA                  Iowa          3156145
21          KS                Kansas          2911505
22          KY              Kentucky          4468402
23          LA             Louisiana          4659978
24          ME                 Maine          1338404
25          MD              Maryland          6042718
26          MA         Massachusetts          6902149
27          MI              Michigan          9995915
28          MN             Minnesota          5611179
29          MS           Mississippi          2986530
30          MO              Missouri          6126452
31          MT               Montana          1062305
32          NE              Nebraska          1929268
33          NV                Nevada          3034392
34          NH         New Hampshire          1356458
35          NJ            New Jersey          8908520
36          NM            New Mexico          2095428
37          NY              New York         19542209
38          NC        North Carolina         10383620
39          ND          North Dakota           760077
40          OH                  Ohio         11689442
41          OK              Oklahoma          3943079
42          OR                Oregon          4190713
43          PA          Pennsylvania         12807060
44          RI          Rhode Island          1057315
45          SC        South Carolina          5084127
46          SD          South Dakota           882235
47          TN             Tennessee          6770010
48          TX                 Texas         28701845
49          UT                  Utah          3161105
50          VT               Vermont           626299
51          VA              Virginia          8517685
52          WA            Washington          7535591
53          WV         West Virginia          1805832
54          WI             Wisconsin          5813568
55          WY               Wyoming           577737
56          PR           Puerto Rico          3195153

In [20]:
#This is where I would write and export the cleaned up census data 

export_census = census_df.to_csv(r'clean_census_data.csv',index = None, header=True)

census_df

   STATEABBREV                  NAME  POPESTIMATE2018
0           US         United States        327167434
1           NE      Northeast Region         56111079
2           MW        Midwest Region         68308744
3            S          South Region        124753948
4            W           West Region         77993663
5           AL               Alabama          4887871
6           AK                Alaska           737438
7           AZ               Arizona          7171646
8           AR              Arkansas          3013825
9           CA            California         39557045
10          CO              Colorado          5695564
11          CT           Connecticut          3572665
12          DE              Delaware           967171
13          DC  District of Columbia           702455
14          FL               Florida         21299325
15          GA               Georgia         10519475
16          HI                Hawaii          1420491
17          ID                 Idaho          1754208
18          IL              Illinois         12741080
19          IN               Indiana          6691878
20          IA                  Iowa          3156145
21          KS                Kansas          2911505
22          KY              Kentucky          4468402
23          LA             Louisiana          4659978
24          ME                 Maine          1338404
25          MD              Maryland          6042718
26          MA         Massachusetts          6902149
27          MI              Michigan          9995915
28          MN             Minnesota          5611179
29          MS           Mississippi          2986530
30          MO              Missouri          6126452
31          MT               Montana          1062305
32          NE              Nebraska          1929268
33          NV                Nevada          3034392
34          NH         New Hampshire          1356458
35          NJ            New Jersey          8908520
36          NM            New Mexico          2095428
37          NY              New York         19542209
38          NC        North Carolina         10383620
39          ND          North Dakota           760077
40          OH                  Ohio         11689442
41          OK              Oklahoma          3943079
42          OR                Oregon          4190713
43          PA          Pennsylvania         12807060
44          RI          Rhode Island          1057315
45          SC        South Carolina          5084127
46          SD          South Dakota           882235
47          TN             Tennessee          6770010
48          TX                 Texas         28701845
49          UT                  Utah          3161105
50          VT               Vermont           626299
51          VA              Virginia          8517685
52          WA            Washington          7535591
53          WV         West Virginia          1805832
54          WI             Wisconsin          5813568
55          WY               Wyoming           577737
56          PR           Puerto Rico          3195153