In [1]:
%matplotlib notebook

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from pprint import pprint

In [3]:
#this tells me what files are in the directory 
!ls

HIC_bedcount.csv              clean_census_data.csv
Homelessness in the US .ipynb homeless_count2018.csv

In [4]:
# File to Load
homelesscount_data = 'homeless_count2018.csv'
clean_census_data = 'clean_census_data.csv'
bedcount_data = 'HIC_bedcount.csv'

In [5]:
# Reading the homeless_count2018 Data
homelesscount_data_df = pd.read_csv(homelesscount_data)
clean_census_data_df = pd.read_csv(clean_census_data)
bedcount_data_df = pd.read_csv(bedcount_data)

In [6]:
# Combining the data into a single dataset
combined_census_homelesscount_df = pd.merge(clean_census_data_df, homelesscount_data_df, on='State')

combined_census_homelesscount_df.head()

combined_census_homelesscount_bed_df = pd.merge(combined_census_homelesscount_df, bedcount_data_df, on= 'State')

combined_census_homelesscount_bed_df.head()

,State,NAME,POP_ESTIMATE_2018,Number of CoCs,"Overall Homeless, 2018","Sheltered ES Homeless, 2018","Sheltered TH Homeless, 2018","Sheltered SH Homeless, 2018","Sheltered Total Homeless, 2018","Unsheltered Homeless, 2018",...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
0,NE,Northeast Region,56111079,3,"2,421","1,736",541,0,"2,277",144,...,273,273,114,41.76%,28,75,198,0,51,0
1,NE,Nebraska,1929268,3,"2,421","1,736",541,0,"2,277",144,...,273,273,114,41.76%,28,75,198,0,51,0
2,AL,Alabama,4887871,8,"3,434","1,519",865,40,"2,424","1,010",...,0,0,0,0.00%,0,0,0,0,0,0
3,AK,Alaska,737438,2,"2,016","1,248",459,0,"1,707",309,...,71,71,71,100.00%,0,0,71,0,0,0
4,AZ,Arizona,7171646,3,"9,865","3,615","2,144",40,"5,799","4,066",...,1086,1086,1086,100.00%,259,901,185,0,29,10

In [7]:
# Set new index to name
df = combined_census_homelesscount_bed_df.set_index("NAME")
df.head()

,State,POP_ESTIMATE_2018,Number of CoCs,"Overall Homeless, 2018","Sheltered ES Homeless, 2018","Sheltered TH Homeless, 2018","Sheltered SH Homeless, 2018","Sheltered Total Homeless, 2018","Unsheltered Homeless, 2018","Homeless Individuals, 2018",...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
NAME,,,,,,,,,,,,,,,,,,,,,
Northeast Region,NE,56111079,3,"2,421","1,736",541,0,"2,277",144,"1,745",...,273,273,114,41.76%,28,75,198,0,51,0
Nebraska,NE,1929268,3,"2,421","1,736",541,0,"2,277",144,"1,745",...,273,273,114,41.76%,28,75,198,0,51,0
Alabama,AL,4887871,8,"3,434","1,519",865,40,"2,424","1,010","2,570",...,0,0,0,0.00%,0,0,0,0,0,0
Alaska,AK,737438,2,"2,016","1,248",459,0,"1,707",309,"1,434",...,71,71,71,100.00%,0,0,71,0,0,0
Arizona,AZ,7171646,3,"9,865","3,615","2,144",40,"5,799","4,066","7,259",...,1086,1086,1086,100.00%,259,901,185,0,29,10

In [12]:
# Reorganizing the columns using double brackets
organized_df = df[["POP_ESTIMATE_2018","Overall Homeless, 2018"]]
organized_df.head()

                  POP_ESTIMATE_2018 Overall Homeless, 2018
NAME
Northeast Region           56111079                  2,421
Nebraska                    1929268                  2,421
Alabama                     4887871                  3,434
Alaska                       737438                  2,016
Arizona                     7171646                  9,865

In [ ]:
# Labels for the sections of our pie chart 
labels = ["Veterans", "Unaccompanied Minors Under 18", "Families"]

# The values of each section of the pie chart
sizes = [#, #, #, #]

# The colors of each section of the pie chart
colors = [" ", " ", " ", " "]

# Tells matplotlib to seperate the "Python" section from the others
explode = (0.1, 0, 0, 0)

In [ ]:
# Creates the pie chart based upon the values above
# Automatically finds the percentages of each part of the pie chart
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)

In [ ]:
# Tells matplotlib that we want a pie chart with equal axes
plt.axis("equal")